<html>
    <head>
	<meta charset="utf-8">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Theme style  -->
	<%= stylesheet_link_tag    'style'%>
	<!-- Animate.css -->
	<%= stylesheet_link_tag    'animate'%>
	<!-- Icomoon Icon Fonts-->
	<%= stylesheet_link_tag    'icomoon'%>
	<!-- Bootstrap  -->
	<%= stylesheet_link_tag    'bootstrap'%>

	<!-- Magnific Popup -->
	<%= stylesheet_link_tag    'magnific-popup'%>

	<!-- Fonts -->
	<%= stylesheet_link_tag    'fonts'%>
	
	<!-- Modernizr JS -->
	<%= javascript_include_tag 'modernizr-2.6.2.min'%>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	    <script src="js/respond.min.js"></script>
	<![endif]-->

	<!-- table -->
	<%= stylesheet_link_tag    'frame'%>
    </head>
    <body>
	<div class="fh5co-loader"></div>
	
	<div id="page">
	    <nav class="fh5co-nav" role="navigation">
		<div class="container">
		    <div class="row">
			<div class="col-xs-2">
			    <div id="fh5co-logo"><a href="/home.html">MONST☆RLAB</a></div>
			</div>
			<div class="col-xs-10 text-right menu-1">
			    <ul>
				<a href="/home.html">Home</a>
				<li class="has-dropdown active">
				    <a href="/questions">Qestion</a>
				    <ul class="dropdown">
					<li><a href="/questions">Qestions</a></li>
					<li><a href="/number_of_participants">Number Of Participants</a></li>
				    </ul>
				</li>
				<li>
				    <a href="/start">Start</a>
				</li>
			    </ul>
			</div>
		    </div>
		</div>
	    </nav>

	    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="container">
		    <div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
			    <div class="display-t">
				<div class="display-tc animate-box" data-animate-effect="fadeIn">
				    <h1>Questions</h1>
				    <h2>View Questions</h2>

				    <p><a href="/questions/new" class="btn btn-default">New Question</a></p>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </header>
	    
	    <p id="notice"><%= notice %></p>
	    <div>　</div>
	    <div>　</div>
		<table>
		    <thead>
			<tr>
			    <th>Body</th>
			    <th>State</th>
			    <th colspan="3">Options</th>
			</tr>
		    </thead>
		    <tbody>
			<% @questions.each do |question| %>
			    <tr>
				<td><%= question.body %></td>
				<td><%= question.state %></td>
				<td>
				    <%= link_to image_tag('show.png', { :border => '0', :alt => 'Show'}), question %>
				    <%= link_to 'Show', question %>
				</td>
				<td>
				    <%= link_to image_tag('edit.png', { :border => '0', :alt => 'Edit'}), edit_question_path(question) %>
				    <%= link_to 'Edit', edit_question_path(question) %>
				</td>
				<td>
				    <%= link_to image_tag('destroy.png', { :border => '0', :alt => 'Destroy'}), question, method: :delete, data: { confirm: 'Are you sure?' } %>
				    <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
			    </tr>
			<% end %>
		    </tbody>
		</table>
	    
	    <footer id="fh5co-footer" role="contentinfo">
		<div class="container">
		    <div class="row row-pb-md">
			<div class="col-md-4 fh5co-widget">
			    <h3>MONST☆RLAB-INTERNSHIP</h3>
			    <h5>株式会社モンスター・ラボ　島根開発拠点の<br>インターン生がこのWebアプリを開発しています。</h5>
			</div>

			<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
			    <ul class="fh5co-footer-links">
				<li><a href="/home.html">HOME</a></li>
				<li><a href="/questions">Questions</a></li>
				<li><a href="/start">Start</a></li>
			    </ul>
			</div>
			
			<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
			    <ul class="fh5co-footer-links">
				<li><a href="/questions/new">New Questions</a></li>
				<li><a href="/number_of_participants">Number Of Participants</a></li>
				<li><a href="/number_of_participants/new">Set Number Of Participants</a></li>
			    </ul>
			</div>
			
			<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
			    <ul class="fh5co-footer-links">
				<li><a href="https://monstar-lab.com/">MONST☆RLAB</a></li>
				<li><a href="https://www.facebook.com/corp.monstar.lab/">MONST☆RLAB,Inc.</a></li>
				<li><a href="https://www.facebook.com/corp.shimane.monstar.lab/">Shimane MONST☆RLAB</a></li>
			    </ul>
			</div>
		    </div>
		</div>
	    </footer>

	
	<!-- jQuery -->
	<%= javascript_include_tag 'jquery.min.js'%>
	<!-- jQuery Easing -->
	<%= javascript_include_tag 'jquery.easing.1.3.js'%>
	<!-- Bootstrap -->
	<%= javascript_include_tag 'bootstrap.min'%>
	<!-- Waypoints -->
	<%= javascript_include_tag 'jquery.waypoints.min'%>
	<!-- countTo -->
	<%= javascript_include_tag 'jquery.countTo'%>
	<!-- Magnific Popup -->
	<%= javascript_include_tag 'jquery.magnific-popup.min'%>
	<%= javascript_include_tag 'magnific-popup-options'%>
	<!-- Main -->
	<%= javascript_include_tag 'main'%>

	</div>
    </body>
</html>
