<%= render partial: 'shared/header', locals: { current: :questions } %>

<div id="fh5co-services-section">
  <div class="container">
    <div class="feature-center">
      <p id="notice"><%= notice %></p>

      <h3 class="btn btn-lg btn-outline">
        <%= link_to image_tag('icons/destroy.png'), delete_all_questions_path, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Delete All', delete_all_questions_path, data: { confirm: 'Are you sure?' } %>
      </h3>

      <h3 class="btn btn-lg btn-outline">
        <%= link_to image_tag('icons/edit.png'), init_all_questions_path, data: { confirm: 'Are you sure?' }%>
        <%= link_to 'Init All', init_all_questions_path , data: { confirm: 'Are you sure?' }%>
      </h3>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-6">Body</th>
          <th>State</th>
          <th>Result</th>
          <th class="col-md-3" colspan="3">Options</th>
        </tr>
      </thead>

      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.body %></td>
            <td><%= question.state %></td>
            <td><%= question.yes_count %> / <%= question.answers_count %></td>
            <td><%= link_to 'Show', question %></td>
            <td><%= link_to 'Edit', edit_question_path(question) %></td>
            <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render 'shared/footer' %>
