<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <%= image_tag "logo2.png"%>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <div class="question_title">
      質問：<%= @question.body %>
    </div>
    <div class="center">
      <b class="answer_font">
        <%= @yes_count %></b><small class="number_of_participant_font">/<%= @answers_count %>
      </small>
    </div>
    <div class="center">
      <%= link_to "次の質問へ", controller: 'questions', action: 'show', id: '0'  %>
    </div>
    <%= javascript_tag do %>
      yesCount = <%= raw @yes_count %>;
      answersCount = <%= raw @answers_count %>;
    <% end %>
    <script>
      var max = answersCount;
      var min = 0;
      var speed = 125;
      var cnt = 0;
      var random;
      var randomBefore = 0;
      function changeNumber () {
        random = Math.round(min + (Math.random() * (max - min)));
        if ((random === randomBefore) && (random !== 0)) {
          random--;
        } else if ((random === randomBefore) && (random === 0)) {
          random = 1;
        }
        document.getElementsByTagName('b')[0].firstChild.nodeValue = random;
        randomBefore = random;
      }
      $(function () {
        var setTimer = setInterval(function () {
          changeNumber();
          max = answersCount - (((answersCount - yesCount) / 40) * cnt);
          min = (yesCount / 40) * cnt;
          if (cnt >= 40) {
            clearInterval(setTimer);
            document.getElementsByTagName('b')[0].firstChild.nodeValue = yesCount;
          }
          cnt++;
        }, speed);
      });
    </script>
  </body>
</html>
