<%= render partial: 'shared/header', locals: { current: :show } %>

<div id="fh5co-services-section">
  <div class="container feature-center">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Question:</strong>
      <%= @question.body %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @question.state %>
    </p>

    <%= link_to 'Edit', edit_question_path(@question) %> |
    <%= link_to 'Back', questions_path %>
  </div>
</div>
