<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>State:</strong>
  <%= @question.state %>
</p>



<%= form_for @question, :url => {:action => 'close_questions'}, :html => { :method => :put } do |f| %>
<%= submit_tag "結果" %>
<% end %>
<%= h(flash[:alert]) %>
