<%= form_for(number_of_participant) do |f| %>
  <% if number_of_participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(number_of_participant.errors.count, "error") %> prohibited this number_of_participant from being saved:</h2>

      <ul>
      <% number_of_participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
