<p id="notice"><%= notice %></p>

<h1>Number Of Participants</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @number_of_participants.each do |number_of_participant| %>
      <tr>
        <td><%= number_of_participant.number %></td>
        <td><%= link_to 'Show', number_of_participant %></td>
        <td><%= link_to 'Edit', edit_number_of_participant_path(number_of_participant) %></td>
        <td><%= link_to 'Destroy', number_of_participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Number Of Participant', new_number_of_participant_path %> <br>
<%= link_to 'Questions List', questions_path %>
