<%= render partial: "shared/header", locals: {menu: "number_show"} %>
<footer></footer>
</div>

<!-- jQuery -->
<%= javascript_include_tag 'jquery.min.js'%>
<!-- jQuery Easing -->
<%= javascript_include_tag 'jquery.easing.1.3.js'%>
<!-- Bootstrap -->
<%= javascript_include_tag 'bootstrap.min'%>
<!-- Waypoints -->
<%= javascript_include_tag 'jquery.waypoints.min'%>
<!-- countTo -->
<%= javascript_include_tag 'jquery.countTo'%>
<!-- Magnific Popup -->
<%= javascript_include_tag 'jquery.magnific-popup.min'%>
<%= javascript_include_tag 'magnific-popup-options'%>
<!-- Main -->
<%= javascript_include_tag 'main'%>
