	    <footer id="fh5co-footer" role="contentinfo">
		<div class="container">
		    <div class="row row-pb-md">
			<div class="col-md-4 fh5co-widget">
			    <h3>MONST☆RLAB-INTERNSHIP</h3>
			    <h5>株式会社モンスター・ラボ　島根開発拠点の<br>インターン生がこのWebアプリを開発しています。</h5>
			</div>

			<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
			    <ul class="fh5co-footer-links">
				<li><a href="/home.html">HOME</a></li>
				<li><a href="/questions">Questions</a></li>
				<li><a href="/start">Start</a></li>
			    </ul>
			</div>
			
			<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
			    <ul class="fh5co-footer-links">
				<li><a href="/questions/new">New Questions</a></li>
				<li><a href="/number_of_participants">Number Of Participants</a></li>
				<li><a href="/number_of_participants/new">New Number Of Participants</a></li>
			    </ul>
			</div>
			
			<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
			    <ul class="fh5co-footer-links">
				<li><a href="https://monstar-lab.com/">MONST☆RLAB</a></li>
				<li><a href="https://www.facebook.com/corp.monstar.lab/">MONST☆RLAB,Inc.</a></li>
				<li><a href="https://www.facebook.com/corp.shimane.monstar.lab/">Shimane MONST☆RLAB</a></li>
			    </ul>
			</div>
		    </div>
		</div>
	    </footer>
	</div>
	    <!-- jQuery -->
	    <%= javascript_include_tag 'jquery.min.js'%>
	    <!-- jQuery Easing -->
	    <%= javascript_include_tag 'jquery.easing.1.3.js'%>
	    <!-- Bootstrap -->
	    <%= javascript_include_tag 'bootstrap.min'%>
	    <!-- Waypoints -->
	    <%= javascript_include_tag 'jquery.waypoints.min'%>
	    <!-- countTo -->
	    <%= javascript_include_tag 'jquery.countTo'%>
	    <!-- Magnific Popup -->
	    <%= javascript_include_tag 'jquery.magnific-popup.min'%>
	    <%= javascript_include_tag 'magnific-popup-options'%>
	    <!-- Main -->
	    <%= javascript_include_tag 'main'%>


	    <!-- Magnific Popup -->
	    <%= javascript_include_tag 'jquery.magnific-popup.min'%>
	    <%= javascript_include_tag 'magnific-popup-options'%>
	    <!-- Main -->
	    <%= javascript_include_tag 'main'%>
		
