<div class="fh5co-loader"></div>

<div id="page">
    <nav class="fh5co-nav" role="navigation">
	<div class="container">
	    <% case menu %>
	    <% when "admin_show" %>
		<div class="row">	
	    <% else %>
		<div class="row_home">
	    <% end %>
		<div class="col-xs-2">
		    <div id="fh5co-logo"><a href="/homes.html">MONST☆RLAB</a></div>
		</div>
		<div class="col-xs-10 text-right menu-1">
		    <ul>
	              <% case menu %>
		      <% when "Homes" %>
			<li class="active">
	              <% else %>
			<li>
		      <% end %>
			  <a href="/home.html">HOME</a>
			</li>
		      <% case menu %>
		      <% when "Homes" %>
			<li class="has-dropdown">
	              <% else %>
			<li class="has-dropdown active">
		      <% end %>
			   <a href="/questions">Qestion</a>
			 <ul class="dropdown">
		            <li><a href="/questions">Qestions</a></li>
			    <li><a href="/number_of_participants">Number Of Participants</a></li>
			 </ul>
			</li>
			<li>
			    <%= link_to "Start", controller: 'questions', action: 'show', id: '0' %>
			</li>
		    </ul>
		</div>
	    </div>
	</div>
    </nav>
    
    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);">
	<div class="overlay"></div>
	<div class="container">
	    <% case menu %>
	    <% when "admin_show" %>
		<div class="row">	
	    <% else %>
		<div class="row_home">
	    <% end %>
		<div class="col-md-10 col-md-offset-1 text-center">
		    <div class="display-t">
			<div class="display-tc animate-box" data-animate-effect="fadeIn">
			    <% case menu %>
			    <% when "Homes" %>
				<h1>yes-no-makura</h1>
				<h2>Questionnaire System</h2>
				<p><a href="/questions"  class="btn btn-default">Questions</a></p>
				<p><a href="/questions/0" class="btn btn-default">Start</a></p>
			    <% when "Questions" %>
				<h1>Questions</h1>
				<h2>View Questions</h2>
				<p><a href="/questions/new" class="btn btn-default">New Question</a></p>
			    <% when "Number"%>
				<h1>Number Of Participants</h1>
				<h2>Number Restriction</h2>
				<p><a href="/number_of_participants/new" class="btn btn-default">New Number Of participant</a></p>
			    <% when "admin_show" %>
				<p id="notice"><%= notice %></p>
				<span class="x-large"> Q：</span>
				<% if @question.body.length < 16 %>
				    <span class="xx-large"><%= @question.body %></span>
				<% else %>
				    <span class="xx16-large"><%= @question.body %></span>
				<% end %>
				
				<br><%= submit_tag "結果表示", class: "btn btn-primary" %>
			    <% when "number_show" %>
				<span class="x-large"> Number：</span>
				<span class="xx-large"><%= @number_of_participant.number %></span>
			    <% end %>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </header>
