<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <div id="fh5co-logo"><a href="/admin">MONST☆RLAB</a></div>
      </div>

      <% unless current.in?(%i(propose result over)) %>
        <div class="col-xs-10 text-right menu-1">
          <ul>
            <li><a href="/admin">Home</a></li>
            <li class="active"><%= link_to 'Questions', questions_path %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <div class="display-t">
          <!-- <div class="display&#45;tc animate&#45;box" data&#45;animate&#45;effect="fadeIn"> -->
          <div class="display-tc" data-animate-effect="fadeIn">
            <% case current %>
            <% when :questions %>
              <h1>Questions</h1>
              <h2>View Questions</h2>
              <p><%= link_to 'New Question', new_question_path, class: 'btn btn-default' %></p>
            <% when :show %>
              <h1><%= @question.body %></h1>
              <h2></h2>
              <p><%= link_to 'Result', '', class: 'btn btn-default' %></p>
            <% when :propose %>
              <h1><%= @question.body %></h1>
              <h2></h2>
              <%= form_for @question, url: { action: :close } do |f| %>
                <% submit_tag 'Result', class: 'btn btn-default' %>
              <% end %>
            <% when :result %>
              <h1><%= @yes_count %><small>/<%= @answers_count %></small></h1>
              <h2></h2>
              <p><%= link_to 'Next Question', propose_question_path(0), class: 'btn btn-default' %></p>
            <% when :over %>
              <h1>以上で質問を終わります。<br>ありがとうございました。</h1>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
