<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <div id="fh5co-logo"><%= link_to image_tag('logo-white.png'), admin_path %></div>
      </div>

      <% unless current.in?(%i(propose result over)) %>
        <div class="col-xs-10 text-right menu-1">
          <ul>
            <li class="<%= 'active' if current == :admin %>"><%= link_to 'Home', admin_path %></li>
            <li class="<%= 'active' if current != :admin %>"><%= link_to 'Questions', questions_path %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>

<header id="fh5co-header" class="fh5co-cover" role="banner">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <% case current %>
            <% when :questions %>
              <h1>Questions</h1>
              <h2></h2>
              <p><%= link_to 'New Question', new_question_path, class: 'btn btn-default' %></p>
            <% when :show %>
              <h1 id="question"><%= @question.body %></h1>
              <h2></h2>
              <p><div class="btn btn-default">Result</div></p>
            <% when :admin %>
              <h1>yes-no-makura</h1>
              <h2>A Questionnaire System</h2>
              <p><%= link_to 'Start', propose_question_path(0), class: 'btn btn-default' %></p>
            <% when :propose %>
              <h1 id="question"><%= @question.body %></h1>
              <h2></h2>
              <%= form_for @question, url: { action: :close } do |f| %>
                <p><%= submit_tag 'Result', class: 'btn btn-default' %></p>
              <% end %>
            <% when :result %>
              <h1>
                <span id="yes-count"><%= @yes_count %></span>
                <span id="answers-count">/<%= @answers_count %></span>
              </h1>
                <h2 id="subquestion"> Q:<%= @question.body %></h2>
              <p><%= link_to 'Next Question', propose_question_path(0), class: 'btn btn-default' %></p>
            <% when :over %>
              <h1>以上で質問を終わります。<br>ありがとうございました。</h1>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
