<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link href='https://fonts.googleapis.com/css?family=+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<%= stylesheet_link_tag    'animate', media: 'all'%>
	<!-- Icomoon Icon Fonts-->
	<%= stylesheet_link_tag    'icomoon', media: 'all'%>
	<!-- Bootstrap  -->
	<%= stylesheet_link_tag    'bootstrap', media: 'all'%>

	<!-- Magnific Popup -->
	<%= stylesheet_link_tag    'magnific-popup', media: 'all'%>

	<!-- Theme style  -->
	<%= stylesheet_link_tag    'style', media: 'all'%>

	<!-- Modernizr JS -->
	<%= javascript_include_tag 'modernizr-2.6.2.min'%>
	<!-- FOR IE9 below -->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
				    <div id="fh5co-logo"><a href="/homes">MONST☆RLAB</a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="active"><a href="/homes">Home</a></li>
						<li class="has-dropdown">
							<a href="/questions">QUESTION</a>
							<ul class="dropdown">
								<li><a href="/questions">Questions</a></li>
								<li><a href="/number_of_participants">Number Of Participants</a></li>
							</ul>
						</li>
						<li><a href="/start">Start</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<!-- jQuery -->
	<%= javascript_include_tag 'jquery.min.js'%>
	<!-- jQuery Easing -->
	<%= javascript_include_tag 'jpueruy.easing.1.3.js'%>
	<!-- Bootstrap -->
	<%= javascript_include_tag 'bootstrap.min'%>
	<!-- Waypoints -->
	<%= javascript_include_tag 'jquery.waypoints.min'%>
	<!-- countTo -->
	<%= javascript_include_tag 'jquery.countTo'%>
	<!-- Magnific Popup -->
	<%= javascript_include_tag 'jquery.magnific-popup.min'%>
	<%= javascript_include_tag 'magnific-popup-options'%>
	<!-- Main -->
	<%= javascript_include_tag 'main'%>	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
						    <h1>yes-no-makura</h1>
						    <h2>Questionnaire System</h2>

							<p><a href="/questions" class="btn btn-default">Questions</a></p>
							<p><a href="/start" class="btn btn-default">Start</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div class="container">
		<div class="row">
			<div id="fh5co-section">
				<div class="col-nineth">
					<div class="row">
						<div class="col-third">
							<div class="col-md-12">
							    <!-- <span class="icon">
								 <i class="icon-eye"></i>
								 </span> -->
								<div class="desc">
									<h3>Questions</h3>
									<p>アンケート内容を管理することができます。アンケートの作成、アンケート公開・非公開の選択等を行うことができます。</p>
									<p><a href="/questions" class="btn btn-primary">Learn More</a></p>
								</div>
							</div>
						</div>
						<div class="col-third">
							<div class="col-md-12">
							    <!-- <span class="icon">
								 <i class="icon-power"></i>
								 </span> -->
								<div class="desc">
									<h3>Number Of Participants</h3>
									<p>アンケート対象人数を管理することができます。人数を指定するとそのままアンケートに反映されます。</p>
									<p><a href="/number_of_participants" class="btn btn-primary">Learn More</a></p>
								</div>
							</div>
						</div>
						<div class="col-third">
							<div class="col-md-12">
							    <!-- <span class="icon">
								 <i class="icon-laptop"></i>
								 </span> -->
								<div class="desc">
									<h3>Start</h3>
									<p>Questionsで編集した内容を公開し、アンケートを実施することができます。yes-noで投票して貰い、結果画面で集計結果を発表することができます。</p>
									<p><a href="/start" class="btn btn-primary">Learn More</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-forth">
				    	<div class="col-md-12">
							    <!-- <span class="icon">
								 <i class="icon-laptop"></i>
								 </span> -->
								<div class="desc">
									<h3>yes-no-makura</h3>
									<p>「Questions」、「Number Of Participants」、「Start」という３つの機能を使うだけで、その場でアンケートを集計し、結果を公開することができます。それが、このyes-no-makuraです。</p>
									<p><a href="/homes" class="btn btn-primary">HOME</a></p>
								</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h3>MONST☆RLAB-INTERNSHIP</h3>
					<p>株式会社モンスター・ラボ　島根開発拠点のインターンシップ生がこのWebアプリケーションを開発しています。</p>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="/hoems">HOME</a></li>
						<li><a href="/questions">Questions</a></li>
						<li><a href="/start">Start</a></li>
					</ul>
				</div>
				
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
				    <ul class="fh5co-footer-links">
					<li><a href="/questions/new">New Questions</a></li>
					<li><a href="/number_of_participants">Number Of Participants</a></li>
					<li><a href="/number_of_participants/new">Set Number Of Participants</a></li>
				    </ul>
				</div>
				
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
				    <ul class="fh5co-footer-links">
					<li><a href="https://monstar-lab.com/">MONST☆RLAB</a></li>
					<li><a href="https://www.facebook.com/corp.monstar.lab/">MONST☆RLAB,Inc.</a></li>
					<li><a href="https://www.facebook.com/corp.shimane.monstar.lab/">Shimane MONST☆RLAB</a></li>
				    </ul>
				</div>
			</div>
		</div>
	</footer>
	</div>

	
	<!-- jQuery -->
	<%= javascript_include_tag 'jquery.min.js'%>
	<!-- jQuery Easing -->
	<%= javascript_include_tag 'jpueruy.easing.1.3.js'%>
	<!-- Bootstrap -->
	<%= javascript_include_tag 'bootstrap.min'%>
	<!-- Waypoints -->
	<%= javascript_include_tag 'jquery.waypoints.min'%>
	<!-- countTo -->
	<%= javascript_include_tag 'jquery.countTo'%>
	<!-- Magnific Popup -->
	<%= javascript_include_tag 'jquery.magnific-popup.min'%>
	<%= javascript_include_tag 'magnific-popup-options'%>
	<!-- Main -->
	<%= javascript_include_tag 'main'%>


	<!-- Magnific Popup -->
	<%= javascript_include_tag 'jquery.magnific-popup.min'%>
	<%= javascript_include_tag 'magnific-popup-options'%>
	<!-- Main -->
	<%= javascript_include_tag 'main'%>

	</body>
</html>

