<!DOCTYPE html>
<html>
  <head>
    <title>YesNoMakura</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<%= image_tag "logo.png"%>
<marquee scrollamount="5">モンスター・ラボ島根開発拠点のインターンシップ生が作りました</marquee>
    <%= yield %>
  </body>
</html>
